apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "playApp.fullname" . }}
  labels:
    {{- include "playApp.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "playApp.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "playApp.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: playApp
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 5000
              protocol: TCP
          env:
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
